Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteRule ^(js|css|images|manage|fonts|feed|projects/libvos|projects/vos)[/]?.*$  - [NC,L]
RewriteRule ^journal/.*\.(js|css|json)$		-			[NC,L]
RewriteRule ^.*\.(png|jpg|jpeg|ico|svg|gif)$	-			[NC,L]
RewriteRule ^.*\.php.*$				-			[NC,L]
RewriteRule ^.*\.json.*$			-			[NC,L]
RewriteRule ^.*\.xml.*$				-			[NC,L]
RewriteRule ^.*\/index\.html\??.*		-			[NC,L]
RewriteRule ^(.*)$				/index.php?open=$1	[NC,L]
