body {
	font-family: 'Roboto', sans-serif;
	font-size: 160%;
}

.menu {
	background: #444;
	padding: 10px;
}

.tree div.row .panel-body {
	height: 600px;
	overflow: scroll;
	padding: 0px;
}

.box {
	border: 1px solid silver;
	padding: 10px;
}
