body {
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 160%;
	overflow-x: scroll;
	width: 2150px;
}

.tree {
	width: 300px;
	float: left !important;
}

.tree div.row {
	margin-bottom: 10px;
}

.tree div.row .panel-body {
	height: 600px;
	overflow: scroll;
	padding: 0px;
}

.box {
	border: 1px solid silver;
	margin: 0px 10px;
	padding-top: 10px;
}

.form-vertical {
	width: 300px;
	float: left !important;
}

#editor {
	float: left !important;
}

.editor {
	width: 700px;
	float: left !important;
}

#preview {
	width: 800px;
	float: left !important;
}
